mixin menu(...menus)
    ul.menu
        each item in menus
            li
                a(href!= item[1])!= item[0]

header
    nav.navbar
        .logo LOGO
        button.navbar-toggle
            span
            span
            span
        //- .sign
        //-     span.signin Sign In
        //-     | |
        //-     span.signup Sign Up
        +menu(
            ['home', '/'],
            ['about', '/about.html'],
            ['test2', '/test2.html'],
            ['test3', '/test3.html']
        )
