extends ../includes/main.pug

block content
    Slider(v-model='value', range)
    Row
        i-col(:xs="12", :md="8", :lg="6") col-12
        i-col(:xs="12", :md="8", :lg="6") col-12
        i-col(:xs="12", :md="8", :lg="6") col-12
        i-col(:xs="12", :md="8", :lg="6") col-12
    i-Button(type='primary') Hello
    Checkbox checkbox
    page(:total='100')
    i-switch.aa sadas
    .know