html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        block title
            title Multipage Template
        block assets
            include assets
    body
        #app
            include header
            block content
            include footer