html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        script(src='/static/lib/jquery@3.3.1.min.js')
        script(src='/static/lib/vue@2.5.17.min.js')
    body
        #app
            include header
            block content
            include footer