extends ./../include/main.pug

mixin navBar(...cont)
    nav
        each item in cont
            li
                a(href!= item[1])!= item[0]
        


block content
    //- h1 home
    +navBar(
        ['Model A', '/model-A'],
        ['Model B', '/model-B']
    )