header {
    width: 100%;
    height: $header-height;
    nav {
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 9;
        font-size: 1.5rem;
        background: #eee;
        box-shadow: 0 1px 3px #999;
        .logo {
            width: 60px;
            height: 60px;
            background: orange;
            float: left;
        }
        .sign {
            float: right;
            font-size: 1.2rem;
            line-height: $header-height;
            margin: 0 20px;
            span {
                margin: 0 5px;
                cursor: pointer;
                padding: 5px;
            }
        }
        .navbar-toggle {
            display: none;
            float: right;
            width: 48px;
            height: 36px;
            background: #000;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            outline: none;
            margin: 12px 30px;
            span {
                margin: 4px 10px;
                display: block;
                width: 28px;
                height: 3px;
                background: #fff;
                border-radius: 2px;
            }
            span:first-child {
                margin-top: 2px;
            }
        }
        .menu{
            float: right;
            li {
                height: 100%;
                line-height: $header-height;
                float: left;
                margin: 0 10px;
            }
        }
        @include collapse {
            .menu {
                width: 100%;
                display: none;
                position: absolute;
                top: $header-height + 2px;
                li {
                    width: 100%;
                    height: 60px;
                    background: #eee;
                    border-bottom: solid 1px #000;
                    margin: 0;
                }
            }
            .navbar-toggle {
                display: block;
            }
        }
    }
}